@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  /* --foreground: #121212; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-circular);
}
